/*.first-Character{*/
    /**/
    /*line-height: 5.6rem;*/
    /*min-width: 0;*/
    /*width: 5.6rem;*/
    /*height: 5.6rem;*/
    /*border-radius: 50%;*/
/*}*/
/*.ng-scope{*/
    /*height: 100%;*/
/*}*/

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 150px !important;
    width: 50vw !important;
    max-width: 180px !important;
}