<md-content layout-padding>
    <md-list>
        <md-list-item ng-repeat="user in users" ng-click="personInfo(user)">
                    <span class="md-button md-fab md-mini" >{{user.substring(0,1)}}</span>
            <span>{{user}}</span>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <md-content layout="column" layout-align="spacebetween center">
        <md-button ng-click="reload()" class="md-warn md-raised">
            reload
        </md-button>
    </md-content>
</md-content>
